<div class='user-show'>

	<h2><%= @user.email %></h2>

	<button><%= link_to 'Change Email or Password', edit_user_registration_path(@user) %></button>

	<h2>Your Personal Highlights</h2>

	<table>
		<th>Player's Name</th>
		<th>Highlight Type</th>
		<th>Date Created</th>
		<th>Order Status</th>
		<th>More</th>
		<th>Your Highlight</th>
		<%- @highlights.each do |highlight| %>
			<tr>
				<td><%= highlight.name %></td>
				<td><%= highlight.highlight_type.name %></td>
				<td><%= highlight.created_at.strftime("%Y-%m-%d") %></td>
				<td><%= highlight.state %></td>
				<td><%= link_to 'Details', highlight_path(highlight) %></td>
				<%- unless highlight.highlight_file.blank? %>
					<td><%= link_to 'Download', highlight.highlight_file.url %></td>
				<%- end %>
			</tr>
		<%- end %>		
	</table>

</div>

