<header>
	<div class="header-content btcf">
		<div id="header-baseball">
			<%= image_tag 'old_baseball_small.png' %>
		</div>
		<div id="header-links">
			<%- if user_signed_in? %>
				<ul>
					<li><button><%= link_to 'My Account', user_path(current_user) %></button></li>
					<li><button><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></button></li>
					<%- if current_user.admin %>
						<li><button><%= link_to "Admin", admin_admin_index_path %></button></li>
					<%- end %>
				</ul>
			<%- else %>
				<ul>
					<li><button><%= link_to 'Sign In', new_user_session_path %></button></li>
				</ul>
			<%- end %>
		</div>
		<div id="logo">
			<h1><%= link_to 'You Make The Play!', root_path %></h1>
		</div>
	</div>
</header>
