<header>
	<div class="header-content btcf">
		<%= image_tag 'old_baseball.png' %>
		<h1><%= link_to 'You Make The Play!', root_path %></h1>
		<ul>
			<%- if user_signed_in? %>
				<li>Signed in as <%= current_user.email %></li>
				<li><button><%= link_to 'My Account', user_path(current_user) %></button></li>
				<li><button><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></button></li>
			<%- else %>
				<li><button><%= link_to 'Sign In', new_user_session_path %></button></li>
			<%- end %>
		</ul>
	</div>
</header>
