<div class="sell btcf">
	<h1>Now's <em>your</em> chance to be the star!</h1>
	<ul>
		<li>Have you ever dreamed of winning it in the bottom of the 9th with a homer?</li>
		<li>Maybe it's your Dad who strikes out the side to seal the series?</li>
		<li>Or your Daughter who slams into the wall and holds onto the ball for the final out.</li>
	</ul>
	<h3>The possibilities are endless. This is your chance to have a completely customized audio highlight. It'll sound just like a real game.</h3>
	<h3>Here's how it works:</h3>
	<ol>
		<li>Select a plan below that interests you.</li>
		<li>Fill out the form that follows with all the details.</li>
		<li>We'll take those details and create a one of a kind highlight.</li>
		<li>We'll email you when it's ready.</li>
		<li>Click the link and it's yours to download.</li>
	</ol>
	<h3>Take a listen:</h3>
	<%= audio_tag 'BlueZedEx.mp3', controls: true, autobuffer: true %>
	<h3>Buy it as a gift. Buy it for yourself.</h3>
	<h4>Your highlight will be created by <em>Jon Rish</em>. Jon has more than 20 years of sports broadcasting experience - including seven plus seasons as a member of the <em>Boston Red Sox</em> radio network. (2006-2013)</h4>
</div>

<%- content_for :bottom_banner do %>
	<div class="highlight-types btcf">
		<ul>
			<%- @highlight_types.each do |type| %>
				<li id='<%= type.name %>'>
					<%= link_to new_highlight_path(:highlight_type_id => type.id) do %>
						<p><%= type.name %></p>
						<p><%= type.description %></p>
						<p><%= number_to_currency(type.price * 0.01) %></p>
						<button></button>
					<%- end %>
				</li>
			<%- end %>
		</ul>
	</div>
<%- end %>
