<ul>
	<li><%= @highlight.user.email %></li>
	<li><%= @highlight.highlight_type.name %></li>
	<li><%= @highlight.id %></li>
	<li><%= @highlight.name %></li>
	<li><%= @highlight.nickname %></li>
	<li><%= @highlight.hometown %></li>
	<li><%= @highlight.school %></li>
	<li><%= @highlight.previous_teams %></li>
	<li><%= @highlight.bats %></li>
	<li><%= @highlight.throwing_hand %></li>
	<li><%= @highlight.position %></li>
	<li><%= @highlight.age %></li>
	<li><%= @highlight.family_friends %></li>
	<li><%= @highlight.opponent %></li>
	<li><%= @highlight.scenario %></li>
	<li><%= @highlight.notes %></li>
	<li><%= @highlight.created_at.strftime("%Y-%m-%d") %></li>
	<li><%= @highlight.state %></li>
	<%- unless @highlight.highlight_file.blank? %>
		<li><%= link_to 'Highlight', @highlight.highlight_file.url %></li>
	<%- end %>
</ul>

<%= simple_form_for [:admin, @highlight] do |f| %>
	<%- if @highlight.state == 'processing' %>
		<%= f.input :state_event, as: :hidden, input_html: { value: 'accept' } %>
		<%= f.submit 'Accept Highlight' %>
	<%- elsif @highlight.state == 'accepted' %>
		<%= f.input :state_event, as: :hidden, input_html: { value: 'start_production' } %>
		<%= f.submit 'Start Production' %>
	<%- elsif @highlight.state == 'in_production' %>
		<%= f.input :state_event, as: :hidden, input_html: { value: 'complete' } %>
		<%= f.input :highlight_file, as: :file %>
		<%= f.submit 'Complete Highlight' %>
	<%- elsif @highlight.state == 'complete' %>
		<%= f.input :state_event, as: :hidden, input_html: { value: 'reset' } %>
		<%= f.input :highlight_file, as: :file %>
		<%= f.submit 'Reset to Processing' %>
	<%- end %>
<%- end %>

<%= button_to 'Delete Highlight', [:admin, @highlight], method: :delete, data: { confirm: "Are you sure?" }%>
