<ul>
	<li><%= @highlight.user.email %></li>
	<li><%= @highlight.highlight_type.name %></li>
	<li><%= @highlight.id %></li>
	<li><%= @highlight.name %></li>
	<li><%= @highlight.nickname %></li>
	<li><%= @highlight.hometown %></li>
	<li><%= @highlight.school %></li>
	<li><%= @highlight.previous_teams %></li>
	<li><%= @highlight.bats %></li>
	<li><%= @highlight.throwing_hand %></li>
	<li><%= @highlight.position %></li>
	<li><%= @highlight.age %></li>
	<li><%= @highlight.family_friends %></li>
	<li><%= @highlight.opponent %></li>
	<li><%= @highlight.scenario %></li>
	<li><%= @highlight.notes %></li>
	<li><%= @highlight.created_at %></li>
	<li><%= @highlight.state %></li>
</ul>

<%- if @highlight.state == 'processing' %>
	<%= button_to 'Accept Highlight', action: 'accept' %>
<%- elsif @highlight.state == 'accepted' %>
	<%= button_to 'Start Production', action: 'in_production' %>
<%- elsif @highlight.state == 'in_production' %>
	<%= button_to 'Complete Highlight', action: 'complete' %>
<%- end %>

<%= button_to 'Reset to Processing', action: 'reset' %>
