<%= simple_form_for @highlight do |f| %>
	<div id="step-one">
        <%= f.input :name, label: 'Player Name: ' %>
        <%= f.input :nickname, label: 'Player Nickname: ' %>
        <%= f.input :hometown, label: 'Player\'s Hometown: ' %>
        <%= f.input :bats, collection: ['Left', 'Right', 'Switch'], as: :radio, label: 'Player Bats: ' %>
        <%= f.input :throwing_hand, collection: ['Left', 'Right'], as: :radio, label: 'Player Throws: ' %>
    </div>
    <button id="continue">Click Here to Continue</button>
    <div id="step-two">
        <%= f.input :scenario, label: 'Type of play you\'d like. '%>
        <%= f.input :position, label: 'Player\'s position: '%>
    	<%= f.input :highlight_type_id, as: :hidden, input_html: { value: @highlight_type.id } %>
    	<%- if @highlight_type.id > 1 %>
            <%= f.input :school, label: 'Where did the player go to school? ' %>
            <%= f.input :age, label: 'Player Age: ' %>
        <%- end %>
        <%- if @highlight_type.id > 2 %>
            <%= f.input :family_friends, label: 'Names of others you would like referenced: '%>
            <%= f.input :opponent, label: 'Name(s) of players on the other team: '%>
        <%- end %>
    </div>
    <button id="finalize">Click Here to Finish</button>
    <div id="step-three">
    <%- unless user_signed_in? %>
        <h3>You must register to finalize your highlight.</h3>
		<%= f.simple_fields_for :user do |user| %>
			<%= user.input :email, :required => true %>
  		<%= user.input :password, :required => true %>
  		<%= user.input :password_confirmation, :required => true %>
		<%- end %>
	<%- end %>
    <%= f.input :notes, label: 'Any other info: ' %>
	<%= f.button :submit, 'Create Your Highlight' %>
    </div>
<%- end %>

<!-- 
create_table "highlights", force: true do |t|
    t.integer  "user_id",           null: false
    t.integer  "highlight_type_id", null: false
    t.string   "name",              null: false
    t.string   "nickname"
    t.string   "hometown"
    t.string   "school"
    t.string   "previous_teams"
    t.string   "bats"
    t.string   "throwing_hand"
    t.string   "position"
    t.integer  "age"
    t.string   "family_friends"
    t.string   "opponent"
    t.text     "scenario"
    t.text     "notes"
    t.datetime "created_at"
    t.datetime "updated_at"
  end -->
