<h2>You have Chosen a <%= @current_highlight.highlight_type.name %> Highlight.</h2>

<h2>Here are the details.</h2>

<ul>
	<li>Name: <%= @current_highlight.name %></li>
	<li>Nickname: <%= @current_highlight.nickname %></li>
	<li>Hometown: <%= @current_highlight.hometown %></li>
	<li>Bats: <%= @current_highlight.bats %></li>
	<li>Throwing Hand: <%= @current_highlight.throwing_hand %></li>
	<li>Scenario: <%= @current_highlight.scenario %></li>
	<li>Position: <%= @current_highlight.position %></li>
	<%- if @current_highlight.highlight_type_id > 1 %>
		<li>School: <%= @current_highlight.age %></li>
		<li>Age: <%= @current_highlight.age %></li>
	<%- end %>
	<%- if @current_highlight.highlight_type_id > 2 %>
		<li>Others to reference: <%= @current_highlight.family_friends %></li>
		<li>Name(s) of Opponent: <%= @current_highlight.opponent %></li>
	<%- end %>
	<li>Additional Information: <%= @current_highlight.notes %></li>
	<li>Highlight Status: <%= @current_highlight.state %></li>
</ul>

<%- if @current_highlight.state == 'pending' %>
	<p><%= link_to 'Click to make changes', edit_highlight_path(@current_highlight) %></p>
	<p><%= link_to 'Cancel / Delete This Highlight', @current_highlight, method: :delete, data: { confirm: "Are you sure?" } %></p>
<%- end %>

<h3>Your Custom Highlight Costs: <%= number_to_currency(@highlight_type.price * 0.01) %></h3>

<%= form_tag charges_path do %>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @highlight_type.name %> Highlight"
          data-amount="<%= @highlight_type.price %>"></script>

<% end %>
