<!DOCTYPE html>
<html>
<head>
  <title>Highlights</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/header" %>

<%- if user_signed_in? && current_user.admin? %>
	<%= render "shared/admin_nav" %>
<%- end %>

<div class="scoreboard-background">
	<div class="main-container btcf">
		<div class="content btcf">

		<h4><%= notice %><%= alert %></h4>

	<%= yield %>

		</div>
	</div>
</div>

<%= yield :bottom_banner %>

<%= render "shared/footer" %>

</body>
</html>
